/** Mobile Device **/
@media only screen and (max-width: 576px) {
    .container{
        max-width: 90%;
    }
    h2{
        font-size: 32px;
    }

    /** Main Header Responsive **/
    #header #main_header .menu{
        display: none;
    }

    /** Banner **/
    #header #banner .banner_container{
        display: block;
    }
    #header #banner .banner_container .banner_texts, #header #banner .banner_container .banner_image{
        width: 100%;
    }
    #header #banner .banner_container .banner_image{
        display: block;
    }
    #header #banner .banner_container .banner_image img{
        display: block;
        margin: 0 auto;
    }
    #banner br{
        display: none;
    }
    #header #banner .banner_container .banner_texts h1{
        font-size: 36px;
    }
    #header #banner .banner_container .banner_image .info-card-1 h2{
        font-size: 25px;
    }
    #header #banner .banner_container .banner_image .info-card-1 {
        position: absolute;
        top: 74px;
        right: 10px;
    }
    #header #banner .banner_container .banner_image .info-card-2 h2{
        font-size: 20px;
    }
    #header #banner .banner_container .banner_image .info-card-2 {
        position: absolute;
        bottom: 241px;
        left: 60px;
    }
    #header #banner .banner_container .banner_image .info-card-1, #header #banner .banner_container .banner_image .info-card-2{
        padding: 13px 20px;
    }
    .buttons button {
        padding: 14px 25px;
        font-size: 16px;
    }
    #header .mobile_menu{
        display: block;
    }



    /** Habit Section **/
    #habits .section_content{
        display: block;
    }
    #habits .section_content .single_habit{
        margin-bottom: 30px;
    }


    /** Call to action **/
    #cta .cta_container{
        display: block;
        padding: 30px;
    }
    #cta .cta_container .cta_image{
        margin-top: 25px;
    }
    #cta .cta_container .cta_image img{
        width: 100%;
    }


    /** BMI Section **/
    #bmi .bmi_container{
        display: block;
    }
    #bmi .bmi_container .bmi_chart,#bmi .bmi_container .bmi_calculator{
        width: 100%;
    }
    #bmi .bmi_container .bmi_calculator p{
        padding-right: 0;
        width: 100%;
    }
    #bmi .bmi_container .bmi_chart{
        margin-bottom: 30px;
    }


    /** Team Section **/
    #team .section_content .row{
        display: block;
        margin-bottom: 20px;
    }
    #team .section_content .row .team_member{
        width: 100%;
        margin-bottom: 20px;
    }
    #team .section_content .row .team_member:last-child{
        margin-bottom: 0;
    }


    /** Footer Section **/
    #footer .row{
        display: block;
    }
    #footer .row .widget{
        width: 100%;
    }
    #footer .row .widget.widget_2,.widget_3{
        display: block;
    }
    #footer .row .widget.widget_2{
        margin: 30px 0;
    }

}







/** When media screen 430px **/
@media screen and (max-width: 430px){
    #header .banner_container .buttons{
        display: block;
    }
    #header .banner_container .buttons button{
        display: block;
        margin-bottom: 15px;
    }
}