/** Font Family **/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/** Variables **/
:root{
    --primary-color: #E6533C;
}

/** Resets **/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    background: #000;
}
p{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
ul li{
    list-style-type: none;
}
button{
    padding: 16px 40px;
    background: var(--primary-color);
    border-radius: 30px;
    border: none;
    color: #fff;
    font-size: 18px;
}
.buttons{
    display: flex;
    align-items: center;
    gap: 20px;
}
.buttons button{
    padding: 16px 40px;
    background: var(--primary-color);
    border-radius: 30px;
    border: none;
    color: #fff;
    font-size: 18px;
}
.buttons button.download{
    background: transparent;
    border: 2px solid #fff;
}

/** Global Styles **/
section{
    margin: 60px 0;
}
.section_header{
    text-align: center;
    margin-bottom: 58px;
}
.section_header h2{
    margin-bottom: 15px;
}
.section_header p{
    max-width: 670px;
    margin: 0 auto;
}

.d-block{
    display: block;
}
.d-flex{
    display: flex;
}
.aic{
    align-items: center;
}
.jcc{
    justify-content: center;
}
.jcsb{
    justify-content: space-between;
}
.jcsa{
    justify-content: space-around;
}
.jcse{
    justify-content: space-evenly;
}
.g-5{
    gap: 5px
}
.g-10{
    gap: 10px;
}
.g-20{
    gap: 20px;
}
.g-30{
    gap: 30px;
}
.container{
    max-width: 80%;
    margin: 0 auto;
}
h1, h2, h3, h4{
    color: #fff;
}
h1{
    font-size: 78px;
}
h2{
    font-size: 48px;
}
h3{
    font-size: 28px;
}

/** Start Header Section **/

/** Main Header **/
#header #main_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0 30px 0;
}
#header #main_header .logo h2{
    font-size: 36px;
    color: var(--primary-color)
}
#header #main_header .menu ul{
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}
#header #main_header .menu ul li{
    padding: 10px 20px;
}
#header #main_header .menu ul li.active{
    background: var(--primary-color);
    border-radius: 30px;
}
#header .mobile_menu .mobile_menu_icon{
    color: #fff;
    font-size: 30px;
}
#header .mobile_menu{
    display: none;
    cursor: pointer;
}
#header #main_header ul li a{
    color: #fff;
    font-size: 18px;
}

/** Banner Section **/
#header #banner .banner_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header #banner .banner_container .banner_texts{
    width: 50%;
}
#header .banner_container .banner_texts p{
    margin: 28px 0;
}

#header #banner .banner_container .banner_texts h1{
    line-height: 120%;
}

#header #banner .banner_container .banner_image{
    width: 50%;
    display: flex;
    justify-content: end;
    position: relative;
}
#header #banner .banner_container .banner_image .info-card-1{
    position: absolute;
    top: 149px;
    right: -65px;
}
#header #banner .banner_container .banner_image .info-card-2{
    position: absolute;
    bottom: 73px;
    left: 60px;
}
#header #banner .banner_container .banner_image .info-card-1, #header #banner .banner_container .banner_image .info-card-2{
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 13px 24px;
    border-radius: 10px;
}
#header #banner .banner_container .banner_image .info-card-1 h2{
    font-size: 40px;
}
#header #banner .banner_container .banner_image .info-card-2 h2{
    font-size: 24px;
}

#header #banner .banner_container .banner_image .info-card-2 .icon{
    font-size: 30px;
    color: var(--primary-color)
}
/** End Header Section **/



/** Start Habits Section **/
#habits .single_habit{
    text-align: center;
}
#habits .single_habit img{
    border-radius: 50%;
}
#habits .single_habit h3{
    margin: 30px 0 5px 0;
}
#habits .section_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/** Ends Habits Section **/


/** Start Call to action section **/
#cta .cta_container p{
    margin: 15px 0 25px 0;
}
#cta .cta_container button{
    padding: 12px 50px;
}
#cta .cta_container .cta_image img{
    max-width: 366px;
    border-radius: 20px;
}
#cta .cta_container{
    gap: 165px;
    background: #222222;
    padding: 40px 50px;
    border-radius: 20px;
}
/** End Call to action section **/


/** Start BMI Section **/
#bmi{
    background: #222222;
    padding: 50px 0;
}
#bmi .bmi_container table{
    border-collapse: collapse;
    margin-top: 30px;
}
#bmi .bmi_container table tr th{
    text-align: left;
    font-size: 16px;
    color: #fff;
}
#bmi .bmi_container table tr td{
    color: rgba(255, 255, 255, 0.5);
}
#bmi .bmi_container table tr th,td{
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 15px;
}

#bmi .bmi_container .bmi_calculator{
    width: 60%;
}
#bmi .bmi_container .bmi_chart{
    width: 40%;
}

#bmi .bmi_container .bmi_calculator input[type="number"], select{
    background: rgba(255, 255, 255, 0.1);
    padding: 13px 20px;
    border-radius: 10px;
    border: none;
    color: rgba(255, 255, 255, 0.6);
    width: 50%;
}
#bmi .bmi_container .bmi_calculator input[type="number"]::placeholder{ 
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
}
#bmi .bmi_container .bmi_calculator input[type="number"], select:focus{
    outline: none;
}
#bmi .bmi_container .bmi_calculator select{
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
}
#bmi .bmi_container .bmi_calculator select.activity{
    width: 100%;
}
#bmi .bmi_container .bmi_calculator option{
    color: #252525;
}
#bmi .bmi_container .bmi_calculator .input_group{
    margin-bottom: 10px;
}
#bmi .bmi_container .bmi_calculator p{
    padding-right: 100px;
    margin: 20px 0;
}
#bmi .bmi_container .bmi_calculator input[type="button"]{
    padding: 16px 60px;
    background: var(--primary-color);
    border-radius: 30px;
    border: none;
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
}
/** End BMI Section **/